{{if .Hosts}}
Hosts:
    {{range .Hosts}}
    {{.Name}}:
        url: {{.URL}}
        token: {{.Token}}
    {{end}}
{{end}}
{{if .Local}}
local:
    {{range .Local}}
    - {{.}}
    {{end}}
{{end}}
{{if .Loggging}}
loggging:
    {{range .Loggging}}
    level: {{.Level}}
    encoding: {{.Rncoding}}
    outputPaths: {{.OutputPaths}}
    {{end}}
{{end}}